

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

 /* 共通の設定 */

body {
	font-family: Arial, Verdana, sans-serif;
	width: 95%;
	margin: 0 auto;
}

img {
	max-width: 100%;
	vertical-align: middle;
	border: 0;
}

ul, ol {
	margin-top: 0;
	margin-bottom: 10px;
}

p {
	margin: 0 0 10px;
}

a {
	font-weight: normal;
}

.table > thead > tr > th {
	text-align: center;
}
.table > tbody > tr > td {
	text-align: center;
}

h1.band-title {
	color: #3c8c8c;
	text-align: center;
	font-size: 18px;
}
h2.band-title {
	color: #3c8c8c;
	text-align: center;
	font-size: 16px;
	margin-top: 20px;
	margin-bottom: 5px;
}
h3.band-title {
	color: #3c8c8c;
	text-align: center;
	font-size: 14px;
	margin: 5px;
}

.siteLogo {
	position: absolute;
	left: 15px;
}
.siteLogo a {
	background: url(/assets/imgs/common/header/head-logo.png) no-repeat left top;
	display: block;
	width: 75px;
	height: 37px;
	text-indent: -999px;
	overflow: hidden;
}

.navbar-nav {
	padding-left: 60px;
}

#slider {
	position: relative;
	min-height: 160px;
}

#event-list .event-box {
	background-color: #e6eae9;
	transition-duration: 0.5s;
}

#event-list .list-top {
	border-top: solid 2px #ccc;
	padding-top: 5px;
	margin-left: 5px;
	margin-bottom: 2px;
}
#event-list .list-middle {
	margin-left: 10px;
	margin-bottom: 2px;
}
#event-list .list-last {
	margin-bottom: 10px;
}
#event-list .open {
	float: left;
}
#event-list .start {
	margin-left: 110px;
}
span.text-icon {
  position: absolute;
  top: 15px;
  left: 75px;
  display: inline-block;
  background: #df002c;
  padding: 1px 5px;
  margin-left: 5px;       /* 先行する文字列との間隔 */
  vertical-align: middle; /* 先行する文字列と上下中央揃え */
  font-size: 0.6em;
  font-weight: bold;
  color: #fff;
  border-radius: 3px;     /* アイコンの角を丸める */
}
/* ブログ */
.info {
	padding: 15px 15px 12px;
}
.info .blog_title {
	font-size: 18.5px;
	font-weight: 700;
	line-height: 1.4;
}
.post_date {
	margin: 0 20px 30px;
	color: blue;
}
.post_text {
	padding: 20px 0;
	border-top: 1px solid blue;
	border-bottom: 1px solid blue;
}
.post_text h2 {
	background-color: #f3d4df;
	padding: 10px 0;
}
.paginator {
	text-align: center;
}

/* 野球ゲーム */
#resultArea {
	color: red;
	font-size: 20px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	margin: 10px auto;
}
#scoreArea {
	margin-top: 5px;
	margin-bottom: 20px;
}
#board {
	text-align: center;
	font-size: 0;
}
.panel {
	position: relative;

	display: inline-block;
	height: 35px;
	width: 35px;
	padding: 7px;
	border-radius: 5px;
	box-shadow: 0 4px 0 #0088cc;
	color: #fff;
	background: #00aaff;
	cursor: pointer;
	margin-bottom: 5px;
}
.panel:hover {
	opacity: 0.8;
}
.panel + .panel {
	margin-left: 1px;
}
.panel.inactive {
	opacity: 0.5;
}
.pitched {
	background: yellow;
}
.panel.ball {
	box-shadow: 0 4px 0 #e91b0c;
	background: #f44336;
}
/* Youtube */
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video-wrapper {
	width: 600px;
	max-width: 100%;
}
