{% autoescape 'html' %}
{% for mover_thumb in mover_thumbs %}
  <li>
    <a href="{{ mover_thumb.url }}">
      {{ Html.image( mover_thumb.image ,{'alt': "プーケットマーケット" })|raw }}
    </a>
  </li>
{% endfor %}
{% endautoescape %}
